.container {
    width: 466px;
    height: 466px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stack {
    width: 300px;
    height: 400px;
}

.syncing {
    width: 300px;
    top: 150px;
    text-align: center;
}
